.header {
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.logo {
  background-image: url('/VacanseeNew/logo.svg');
  width: 116px;
  height: 31px;
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
}
.blue {
  background-image: url('/VacanseeNew/blue.svg');
  background-repeat: no-repeat;
  width: 7px;
  height: 7px;
  margin-left: 6px;
  margin-top: 4px;
}
.profile {
  background-image: url('/VacanseeNew/profile.svg');
  width: 24px;
  height: 24px;
}
header > a {
  gap: 2px;
  display: flex;
  align-items: center;
  color: #0F0F10;
  opacity: 50%;
}

.active-link {
  opacity: 100%;
}
