:root {
  font-family: Open Sans, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: black;
  text-decoration: none;
}

.m_576c9d4 {
  position: inherit;
}